   @import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

   * {
       -webkit-box-sizing: border-box; 
       -moz-box-sizing: border-box;
       box-sizing: border-box;
   }
   body {
       height: 100%;
       max-width: 950px;
       //background: #000;
       background-image: url('bg.jpg');
       background-attachment: fixed;
	background-size:     cover; 
        background-repeat:   no-repeat;
        background-position: center center;            
        font-family: 'Lato', sans-serif;
       color: #fff;
       margin: 0 auto;
   }
   .col-xs-6 {
       padding: 5px;
   }
   .content {
       background: #181818;
   }
   .clear {
       clear: both;
   }
   @font-face {
       font-family: boodle;
       src: url(BOOTLE__.TTF);
   }
   #header {
       padding: 5px 5px 25px 5px;
   }
   .headerText {
       margin: 0px 0px 20px 0px;
       font-size: 5em;
       line-height: .8;
       font-family: boodle, Georgia, Serif;
       text-align: center;
   }
   .headerText a:hover {
       text-decoration: none;
       color: inherit;
   }
   #content {
       padding: 0px 5px;
    }
   p {
       font-weight: 400;
   }
   .Table {
       display: Table;
       margin: auto;
   }
   .Title {
       display: table-caption;
       text-align: center;
       background: #181818;
       //margin-top: -10px;
   }
   #title {
       font-weight: 900;
       font-size: larger;
       padding-top: 12.5px;
       padding-bottom: 12.5px;
   }
   .Heading {
       display: table-row;
   }
   .Row {
       display: table-row;
   }
   div.Row:nth-child(odd) {
       background: #3c3c3c;
   }
   div.Row:nth-child(even) {
       background: #181818;
   }
   .Cell {
       display: table-cell;
       padding-left: 20px;
       padding-right: 10px;
   }
   a {
       color: #fff;
   }
   a:hover {
       color: #999;
   }
   form {
       //height: 20px;
   }
   .btn-default {
       color: #000;
       background-color: #999;
       border-color: #999;
       margin-top: -3px;
       height: 34px;
   }
   .form-control {
       display: inline-block;
       //width: 94px;
       height: 34px;
       color: #000;
       background-color: #999;
   }
   #search-field {
       width: 125px;
   }
   #day {
       width: 76px;
   }
   #mo {
       width: 76px;
   }
   select.form-control {
       color: #000;
       height: 34px;
   }
   select:required:invalid {
       color: #000;
   }
   option {
       color: #000;
   }
 